:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --more-dark: #434455;
  --ocean: #404bbf;
  --light: #f4f4fd;
  --white: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--more-dark);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

.container {
  width: 1158px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container-header {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
}

.navigation {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.primery-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.secondary-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #2e2f42;
}

.menu-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.contacts-list {
  gap: 40px;
}

.navigation-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.navigation-item:hover,
.navigation-item:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-item {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  letter-spacing: 0.02em;
}

.contacts-list {
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
}

.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.name-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--more-dark);
}
.order-service {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

button:hover {
  background-color: #404bbf;
  color: white;
}

.order-service:hover {
  background-color: #404bbf;
}

.btn {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 72px;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.footer {
  background-color: #2e2f42;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 120px;
}

.container-footer {
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
}
.text-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  height: 72px;
  left: 156px;
  top: 2420px;
  padding-top: 18px;
}
.footer-logo-two {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  font-style: normal;
}
.footer-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.photo {
  border: 1px solid #e7e9fc;
  margin-bottom: 0px;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

.portf-photo {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}
