h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container-header {
  display: flex;

  padding-right: 15px;
  padding-left: 15px;
}

.container-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 188px;
  padding-bottom: 188px;
  padding-right: 15px;
  padding-left: 15px;
}

.list {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  font-weight: 400;
}
.primery-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.secondary-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #2e2f42;
}
.navigation {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
  padding-bottom: 24px;
  padding-top: 24px;
}

.contacts-list {
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.navigation-item:hover,
.navigation-item:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-item {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-list {
  display: flex;
}

.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}

.name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 496px;
  height: 120px;
  left: 472px;
  top: 260px;
  margin-bottom: 48px;
}

.our-skills {
  background-image: ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order-service {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px 16px 32px;
  left: 636px;
  top: 428px;
  border: none;
}

.order-service:focus {
  color: #404bbf;
}

.container-goal {
  width: 1158px;
  margin: 0 auto;
  margin: auto;
  padding-top: 120px;
}

.goal-item {
  display: flex;
  align-items: center;
  gap: 24px;
}

.goal-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.container-name-section {
  width: 1158px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.our-team-container {
  width: 1158px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.our-section {
  background: #f4f4fd;
}
.our-team-photo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.name-photo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 264px;
  height: 72px;
}

.text2 {
  text-align: center;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.name-section {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.footer {
  background-color: #2e2f42;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container-footer {
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
}
.text-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  margin-top: 18px;
}
.footer-logo-two {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  font-style: normal;
}
.footer-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
ul {
  list-style: none;
}
.link {
  text-decoration: none;
}
.navigation {
}

:root {
  --primary-brand: #4d5ae5;
}

.photo {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  text-align: center;
}

.team-photo {
  padding-top: 32px;
  padding-bottom: 32px;
}
